<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="JsMinifier" type="JsMinifier.Handler.Configuration.JsMinifierConfiguration, JsMinifier.Handler"/>
	</configSections>

	<JsMinifier Cache="false">
		<Excludes>
			<Path>/Umbraco</Path>
		</Excludes>
	</JsMinifier>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
	<system.webServer>
		<handlers>
			<add name="JsMinifier" path="*.js" verb="GET" type="JsMinifier.Handler.HttpHandler, JsMinifier.Handler" resourceType="File" preCondition="" />
		</handlers>
	</system.webServer>
</configuration>
